<FluentCard Style="height:100%;">
    <h2>Project Summary</h2>
    @if (ProjectSummary is null)
    {
        <p>No Project has been searched</p>
    }
    else
    {
        @if (!ProjectSummary.HasData)
        {
            <p>No Emails Found for project</p>
        }
        else
        {
            <dl>
                <dt>Name of Business:</dt>
                <dd>@(ProjectSummary.BusinessName ?? "Unable to Find business Name")</dd>
                <dt>Name of Client:</dt>
                <dd>@(ProjectSummary.ClientName ?? "Unable to Find client Name")</dd>
                <dt>Name of Mentor:</dt>
                <dd>@(ProjectSummary.MentorName ?? "Unable to Find mentor Name")</dd>
                <dt>Total Hours Submitted:</dt>
                <dd>@(ProjectSummary.TotalHoursSubmitted?.ToString() ?? "Unable to Find Hours")</dd>
                <dt>Total Hours Approved:</dt>
                <dd>@(ProjectSummary.TotalHoursApproved?.ToString() ?? "Unable to Find Hours")</dd>
                <dt>Number of Submissions:</dt>
                <dd>@ProjectSummary.NumberOfSubmissions</dd>
                <dt>Number of Approved Submissions:</dt>
                <dd>@ProjectSummary.ApprovedSubmissions</dd>
                <dt>Number of Rejected Submissions:</dt>
                <dd>@ProjectSummary.RejectedSubmissions</dd>
                <dt>Number Sent for Approval:</dt>
                <dd>@ProjectSummary.SentForApproval</dd>
            </dl>
        }
    }
</FluentCard>

@code {
    [Parameter, EditorRequired]
    public ProjectSummary? ProjectSummary { get; set; }
}
